    .glass_center
    {
        /* position: relative;
        width: 300px;
        height: 500px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 50px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px); */
        text-indent:10px;
        display: inline-block;
        padding: 20px;
        margin: 20px;
        position: relative;
        width: 350px;
        height: 420px;
        background-color: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
        -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        color: rgba(0, 0, 0, 0.9);
    }

    #glass_height_1 {
        text-indent:32px;
        height: 170px;
    }