.text{
    font-family: 'fangsong';
    display: inline-block;
    position: relative;
    font-size: 60px;
    height: 60px;
    line-height: 60px;
    color: rgb(245, 245, 245);
    display:block; /*内联对象需加*/
    word-break:keep-all; /* 不换行 */
    white-space:nowrap; /* 不换行 */
    overflow:hidden; /* 内容超出宽度时隐藏超出部分的内容 */
}
.text::after{
    content: '';
    position: absolute;
    right: -10px;
    top: 5px;
    height: 50px;
    width: 3px;     
    background-color: #fff;
    animation: san 0.5s steps(1) infinite;
}
@keyframes san{
    0%,100%{
        background-color: #fff;
    }
    50%{
       background-color: transparent;
    }

}
